@font-face{
    font-family: 'MyFont';
    src: url(../BusanFont.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
body {
    font-family: 'MyFont' , sans-serif; box-sizing: border-box;
    width: 100vw; overflow-x: hidden;
}
header{display: flex; width: 100%; height: 8rem;justify-content: space-between; 
    align-items: center; background-color: #002d72;}
.logo{width: 7rem; height: 7rem; border: 1px solid yellow; margin-left: 10rem;}
nav{display: flex; color: #ffffff; justify-content: space-around; width: 50rem;
font-size: 1.8rem; font-weight: bold;}
.hdicons{width: 12rem;height: 7rem; margin-right: 10rem; color: #ffffff;
display: flex; justify-content: center; align-items: center;}
.naticon{background-image: url(../image/home/korea.png); width: 3rem; height: 2rem;
background-size: cover; background-repeat: no-repeat; background-position: center;}
.naticon:hover .naticonsub{opacity: 1;} 
.naticonsub{position: relative; top: 4rem; right: 1.8rem; background-color: #002d72; width: 5.5rem;
padding: 0.5rem; border: 0.2rem solid #ff5910; border-radius: 10%; opacity: 0;;
transition: 0.5s;}
.subnat{display: flex; justify-content: start; align-items: center;}
.naticonsub img {width: 3rem; height: 2rem; padding: 0.2rem; margin-right: 0.2rem;}
/* nav end */
.top_1 {
    width: 100vw;
    height: 50rem;
    margin-bottom: 30rem;
    position: relative;
}
    .top_1 img{
        width: 100%;
        height: 100%;
    }
    .mainName{
        position: absolute;
        top: 65%;
        left: 22%;
        transform: translate(-50%, -50%);
        font-size: 1.7rem;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    }
        .mainName > p{
            font-size: 2.1rem;
        }
/* top_1 end */
.top_2 {
    width: 100vw;
    height: 50rem;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30rem;
}
    .sec2_topBox{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
    }
        .sec2_topBox > div:nth-child(1){
            width: 30%;
            height: 100%;
            background-color: #002d72;
            font-size: 1.7rem;
            color: #ffffff;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
        .sec2_topBox > div:nth-child(1) > div:nth-child(1) {
            margin-bottom: 1rem;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
            margin-left: 2rem;
        }
            .topBox_text > p{
                margin-left: 1rem;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
        .sec2_topBox > div:nth-child(2){
            width: 50%;
            height: 100%;
            background-color: #002d72;
        }
        .sec2_topBox > div:nth-child(2) > img{
            width: 100%;
            height: 100%;
        }
    .sec2_botBox{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
    }
        .sec2_botBox > div{
            width: 20%;
            height: 100%;
            background-color: #002d72;
        }
            .sec2_botBox > div > img{
                width: 100%;
                height: 100%;
            }
/* top_2 end */
.top_3 {
    width: 100vw;
    height: 50rem;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30rem;
}
    .sec3_topBox{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
    }
        .sec3_topBox > div:nth-child(2){
            width: 30%;
            height: 100%;
            background-color: #002d72;
            font-size: 1.7rem;
            color: #ffffff;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
        .sec3_topBox > div:nth-child(2) > div:nth-child(1) {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
            margin-left: 2rem;
        }
            .topBox_text > p{
                margin-left: 1rem;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
        .sec3_topBox > div:nth-child(1){
            width: 50%;
            height: 100%;
            background-color: #002d72;
        }
        .sec3_topBox > div:nth-child(1) > img{
            width: 100%;
            height: 100%;
        }
    .sec3_botBox{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
                }
        .sec3_botBox > div{
            width: 20%;
            height: 100%;
            background-color: #002d72;
        }
            .sec3_botBox > div > img{
                width: 100%;
                height: 100%;
            }
/* top_3 end */